body
{
    width : 100%;
    margin : 0px auto;
}

#wrap
{
    width : 1280px;
    margin : 0px auto;
}

#top
{
    width : 1280px;
    height : 200px;
    position : fixed;
    z-index : 10;
}

#top.bg
{
    background : #aaa;
}

#top:hover
{
    background-color : #aaa;
}

#logo
{
    width : 280px;
    height : 120px;
    padding : 40px 0px 40px 80px;
    float : left;
}

#menu
{
    text-align : center;
    width : 850px;
    margin : 70px 0px;
    float : left;
    font-size : 20px;
    font-weight : bolder;
}

#menu li
{
    display : inline;
    list-style : none;
    margin : 0px 20px;
}

#menu a
{
    text-decoration : none;
    color : white;
}

menu a:visited
{
    color : white;
}

#menu a:hover
{
    color : blue;
}

#mid
{
    width : 1280px;
}

#gameresult
{
    width : 930px;
    height : 607px;
    margin : 30px 0px;
    float : left;
}

#midcalendar
{
    width : 300px;
    height : 300px;
    background-color : #eee;
    margin : 30px 0px 15px 0px;
    float : right;
}

#calendar
{
    text-align : center;
    width : 300px;
    height : 300px;
}

#tbCalendarYM
{
    text-align : center;
}

#sun
{
    color : red;
}

#sat
{
    color : blue;
}

#gamerank
{
    width : 300px;
    height : 200px;
    float : right;
    margin : 92px 0px 15px 0px;
}

#bot
{
    width : 1280px;
    height : 200px;
    color : white;
    background-color : #aaa;
    clear : both;
    text-align : center;
    font-weight : normal;
    font-size : 16px;
}

#botlogo
{
    float : left;
    width : 150px;
    height : 150px;
    margin : 25px 0px 25px 215px;
}

#botwrap
{
    float : left;
    width : 700px;
    height : 102px;
    margin : 30px 0px 25px 0px;
    padding : 25px 0px;
}